@page "/"
 <nav class="navbar navbar-light">
    <div class="container d-flex justify-content-center"> <a class="navbar-brand text-primary" href="#">
        <i class="fa d-inline fa-lg fa-circle-o"></i>
        <b> BRAND-2</b>
      </a> </div>
  </nav>
@code
{

}

  